.App {
  text-align: center;
}

.ul{
  list-style:none;
  margin:0;
  padding:0;
}
li{
  display:inline-block;
  margin:20px;
}
a{
  text-decoration: none;
  color:green;
  font-weight: bold;
}
a:hover,
a:active{
  border-bottom : 2px solid red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
