.PostDisplay{
    box-sizing: content-box;  
    width: 1000px;
    padding: 30px;  
    border: 1px solid blue;
    display:inline-block;
    margin:30px;
}
button{
    outline:none;
    color : red;
    background-color:inherit;
    font-weight:bold;
    border-radius:10px;
    
}